<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Desert Python</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<di class="grid-container">
		<header class="header">
			<div class="brand">
				<a href="index.html">Desert Python</a>
			</div>
			<div class="header-links">
				<a href="cart.html">Cart</a>
				<a href="signin.html">Sign In</a>
			</div>
		</header>
		<main class="main">
			<aside>
				Shopping Categories
			</aside>
			<ul>
				<li>Product 1</li>
				<li>Product 2</li>
				<li>Product 3</li>
				<li>Product 4</li>
				<li>Product 5</li>
			</ul>
		</main>
		<footer class="footer">
			&copy; 2022 Desert Python
		</footer>
	</div>
	
</body>
</html>